.check-box-outline {
  border: 2px solid white;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  position: relative;

  &:hover {
    border: 2px solid #00FF00;
  }

  .check-box-toggle {
    position: absolute;
    top: -2px;
    left: -2px;
    background-color: #00FF00;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
