@import '../../styles/variables';
@import '../../styles/mixins';

.d-audio-player {
  display: flex;
  align-items: center;
  position: relative;

  .play-button {
    background-color: $black !important;

    &:disabled {
      svg {
        color: darken($cyan, 30%);
      }
    }

    svg {
      color: $cyan;
    }
  }

  .wave-surfer {
    flex: 1;
  }

  @include breakpoint($md) {
    wave {
      height: 70px !important;
    }
  }

  @include breakpoint($sm) {
    wave {
      height: 40px !important;
    }
  }
}
