@import '../../styles/variables';
@import '../../styles/mixins';

.kyc-container-fluid {
  width: 100%;
  .kyc-container {
    margin-top: 10%;
    width: 90%;
    /* max-width: 1640px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint($xl) {
      margin-top: 5%;
    }
  }

  .actions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    // margin-top: 59px !important;
    height: 91px;
    justify-content: space-between;

    .btn {
      width: 402px;
      height: 52px;
      font-size: 24px;
      font-weight: bold;
      background-color: #00FF00;
      color: black;
      text-decoration: none;
      font-family: 'GemunuLibre';
      @include breakpoint($sm) {
        width: fit-content;
      }
    }
  }
}


.title {
  font-size: 65px;
  font-weight: 800;
  // margin-bottom: 90px;
  color: white;
  font-family: 'GemunuLibre';
  line-height: 86px;
}


.process {
  height: 246px;
  width: 1640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 33px;
  @include breakpoint($xxxxl) {
    width: 100%;
  }
  @include breakpoint($xxl) {
    width: 100%;
    height: fit-content;
    margin-bottom: 0px;
  }
  .subtitle {
    font-size: 36px;
    font-weight: bold;
    // margin-bottom: 38px;
    color: white;
    font-family: 'GemunuLibre';
    line-height: 3rem;
  }

  .stage-view {
    display: flex;
    justify-content: space-between;
    // max-width: 100vw;
    svg {
      width: 33.5rem;
      height: 10rem;
    }


  }

}


.desc {
  font-size: 24px;
  color: #707070;
  margin-left: 16px;
  line-height: 30px;
  font-family: "Helvetica";
}

.info {
  margin-bottom: 21px;
  svg {
    width: 20px;
    height: 20px;
  }
}


.text-white {
  color: white;
}

.col {
  display: flex;
  flex-direction: column;
}

.check-label {
  font-size: 20px;
  line-height: 22px;
  font-family: Helvetica;
  color: white;
  margin-left: 8px;
}


